html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: rgb(240, 247, 241);
}


.container {
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(211, 210, 149);
    margin: auto;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
}
.title{
    text-align: center;
    font-size: 4.2rem;
}
.card-image {
    width: 80%;
    height: 60%;
    margin: 1.5rem 0;
    object-fit: cover;
    padding: 20px;
    background-color: solid rgb(211, 210, 149);
}
.card-title {
    font-size: 4.2rem;
    margin-top: 55px;
    background-color: rgb(211, 210, 149); 
}
.card-price{
    background-color: rgb(211, 210, 149); 
    font-size: 2.2rem;
}