html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.parentcard {
    width: 100%;
    height: 50%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border: 10px solid salmon; 
    width: 28%;
}

.card-image {
    border: 10px solid salmon; 
    width: 28%;
}