html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.parentcard {
    width: 27%;
    height: 30%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: palegoldenrod;
    margin: 10% 0;
}

.card-image {
    border: 4px solid salmon; 
    width: 28%;
}
.card-title {
    background-color: salmon; 
}
.description{
    background-color: salmon; 

}